/*header*/
body{
	width: 960px;
	vertical-align: middle;
	margin: auto;
}
.header-img{
	margin-top: 15px;
	float: left;
	margin-right: 15px;
	height:100px;
	width:100px;
}
.main-head{
	font-family: 'Quicksand', sans-serif;
	display: inline;
	font-size: 50px;
	font-weight: bolder;
}
.quote{
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0 4px 2px -2px gray;
}
.menu{
	display: none;
}


.top-view{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
}
.sub-top{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	color: #505050;
	font-size: 20px;
}


.img-float{
	position: relative;
  	text-align: center;
  	color: white;
	max-height: 380px;
	overflow: hidden;
}
.float-text {
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 20px;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}
.head-image{
	width: 100%;
}


/*main*/
.top-news-div{
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 4px 2px -2px gray;
	width: 100%;
	height: 60px;
	color: #404040;
}
.top-news{
	float: left;
	width: 50%;
}
.side-bar{
	float: right;
	width:50%;
	text-align: right;
	font-weight: normal;
	font-size: 20px;
}

.flex-content{
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	color: #404040;
}
.news-flex{
	padding-bottom: 15px;
	padding-top: 15px;
	box-shadow: 0 4px 2px -2px gray;
}

table{
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	color: #808080;
	width: 100%;
}
table th{
	padding-top: 20px;
	padding-bottom: 20px;
}
table td{
	padding-top: 10px;
	padding-bottom: 10px;
}
.team{
	text-align: center;
	color: #303030;
}
.score1{
	text-align: right;
	color: #303030;
}
.score2{
	text-align: center;
	color: #303030;
}
.day{
	color: #303030;
}

.weatherhead{
	margin-top: 80px;
	font-family: 'Rubik', sans-serif;
}
.weatherhead h2{
	font-weight: normal;
}
.current{
	display: flex;
	flex-direction: row;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	width: 100%;
}
.widgets{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
.widgets img{
		width: 170px;
		height: 170px;
	}

.sub-wid{
	width: 100%;
}

.news{
	padding-bottom: 22px;
	padding-top: 22px;
}
.news h3{
	margin-top: 0;
}
.wrapimage{
	padding-right: 20px;
	height: 140px;
	width: 220px;
}
.latest-news{
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	color: #404040;
	padding-top: 25px;
	box-shadow: 0 4px 2px -2px gray;
}

/*footer*/
.bottom-view{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 20px;
}
.sub-bot{
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Rubik', sans-serif;
	color: #505050;
	font-size: 15px;
}


/*---------------------------------------------------------------------------*/
/* changes medium screen*/

@media screen and (max-width: 800px){
	body{
		max-width: 600px;
	}

	.top-view{
		width: 100%;
	}
	.sub-top{
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 13px;
		padding-bottom: 13px;
		font-size: 12px;
	}
	.img-float{
		width: 60%;
		height: 60%;
		font-size: 12px;
	}

	/* weather */
	
	.weatherhead{
		font-size: 70%;
		padding-left: 10px;
		margin-top: 0;
	}
	.current img{
		width: 40%;
		height: 40%;
	}	

	.current h3{
		margin-bottom: 0;
		text-align: center;
	}
	.widgets{
		width: 100%;
		height: 100%;
		font-size: 10px;	
	}	
	.widgets img{
		width: 40px;
		height: 40px;
		padding: :0;
	}	

	.sub-wid{
		width: 100%;
	}




	.top-news-div{
		font-size: 15px;
	}
	.flex-content{
		font-size: 15px;
	}
	table, th, td, tr{
		border:0px solid grey;
		margin:0;
	}
	table{
		border-collapse: collapse;
	}	
	.values{
		background:#DCDCDC; 
	}
	.topics{
		background-color: grey;
		color: white;
	}
	.uas{
		font-size: 15px;
		padding-right: 10px;
		padding-right: 10px;
	}


	.box{
		display: flex;
    	flex-wrap: wrap;
    	flex-direction: row;
	}

	.box :nth-child(1) { order: 1; }
	.box :nth-child(2) { order: 2; }
	.box :nth-child(3) { order: 3; }
	.box :nth-child(4) { order: 4; }
	.box :nth-child(5) { order: 1; } 
}

/* small screen ---------------------------------------------------------------------------------------*/
@media screen and (max-width: 500px){
	/*header*/
	body{
		width: 350px;
		
		margin: auto;
	}
	.header-img{
		float: left;
		margin-right: 4x;
		height: 50px;
		width: 50px;
	}
	.menu{
		display: inline-block;
		padding-left: 70px;
		padding-top: 30px;
	}
	.main-head{
		font-family: 'Quicksand', sans-serif;
		display: inline;
		font-size: 20px;
		font-weight: bolder;
		padding-top: 20px;
	}
	.quote{
		display: flex;
		flex-direction: row;
		justify-content: center;
		box-shadow: 0 2px 1px -1px gray;
	}


	.top-view{
		display: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-weight: bold;
		width: 300px;
	}
	.sub-top{
		display: none;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-bottom: 3px;
		font-family: 'Roboto', sans-serif;
		color: #505050;
		font-size: 10px;
	}


	.img-float{
		position: relative;
	  	text-align: center;
	  	color: white;
		max-height: 150px;
		overflow: hidden;
		width: 100%;
		font-size: 12px;
	}
	.float-text {
	  position: absolute;
	  bottom: 0px;
	  text-align: left;
	  padding-left: 10px;
	  font-family: 'Quicksand', sans-serif;
	  font-size: 10px;
	  background-color: rgba(0, 0, 0, 0.4);
	}
	.head-image{
		width: 100%;
	}


	/*main*/
	.top-news-div{
		font-family: 'Roboto', sans-serif;
		box-shadow: 0 2px 1px -1px gray;
		width: 100%;
		height: 30px;
		color: #404040;
		padding-bottom: 10px;
	}
	.top-news{
		float: left;
		width: 50%;
		font-size: 15px;
	}
	.side-bar{
		float: right;
		width:50%;
		text-align: right;
		font-weight: normal;
		font-size: 15px;
	}

	.flex-content{
		display: flex;
		flex-direction: column;
		font-family: 'Rubik', sans-serif;
		width: 100%;
		color: #404040;
		font-size: 10px;
	}
	.news-flex{
		padding-bottom: 7px;
		padding-top: 7px;
		box-shadow: 0 2px 1px -1px gray;
	}

	table{
		font-family: 'Roboto', sans-serif;
		margin-top: 5px;
		color: #808080;
		width: 100%;
		margin-top: 20px;	
	}
	.heading{
		color: white;
		background-color: #3fb0ac;
		width: 100%;
	}
	table th{
		padding: 5px;
		background-color: #3fb0ac;
	}
	table td{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.team{
		text-align: center;
		color: #303030;
	}
	.score1{
		text-align: right;
		color: #303030;
	}
	.score2{
		text-align: center;
		color: #303030;
	}
	.day{
		color: #303030;
	}

	.weatherhead{
		margin-top: 30px;
		font-family: 'Rubik', sans-serif;
	}
	.weatherhead h2{
		font-weight: normal;
	}
	.current{
		display: flex;
		flex-direction: row;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		width: 100%;
	}
	.widgets{
		display: flex;
		flex-direction: row;
		text-align: center;
		justify-content: center;
		font-family: 'Roboto', sans-serif;
		width: 100%;
	}

	.sub-wid{
		width: 100%;
	}

	.news{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.news h3{
		margin-top: 0;
	}
	.wrapimage{
		padding-right: 10px;
		height: 100px;
		width: 150px;
	}
	.latest-news{
		display: flex;
		flex-direction: column;
		font-family: 'Rubik', sans-serif;
		width: 100%;
		color: #404040;
		padding-top: 10px;
		box-shadow: 0 2px 1px -1px gray;
		font-size: 10px;
	}

	/*footer*/
	.bottom-view{
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: left;
		margin-bottom: 10px;
	}
	.sub-bot{
		padding-left: 40px;
		padding-right: 40px;
		font-family: 'Rubik', sans-serif;
		color: #505050;
		font-size: 11px;
	}
	.box{
		display: flex;
		flex-direction: column;
	}
	.box :nth-child(1) { order: 1; }
	.box :nth-child(2) { order: 2; }
	.box :nth-child(3) { order: 3; }
	.box :nth-child(4) { order: 4; }
	.box :nth-child(5) { order: 5; } 
	
	.top-pad{
		padding-top: 40px;
	}
}